@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;

.sauce-comment {
    border: $dark-blue 2px solid;
    border-radius: 25px;
    padding: 1vh 1vw;
    @include box-shadow;
    margin-bottom: 3vh;

    &__username {
        color: $dark-blue;
        font-size: 1.3em;
    }

    &__input {
        color: $dark-blue;
        font-size: 1.1em;
    }
}