@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.login-page {
    display: flex;
    flex-direction: column;

    &__user-info {
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        @include centered;

        @include desktop {
            width: 80%;
        }

        &-label {
            margin-bottom: 3%;

            @include desktop {
                font-size: 1.5em;
            }
        }

        &-input {
            border: none;
            border-radius: 15px;
            height: 3vh;

            &--first {
                margin-bottom: 4vh;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 3vh;

        @include desktop {
            @include centered;
            flex-direction: row;
            gap: 5%;
            margin-top: 10%;
        }
    }

    &__login, &__search-submit {
        @include button-cta;
    }
}