@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;

.restaurant-page {
    @include centered;
    padding: 4vh 4vw;
    background-color: $white;
    border-radius: 25px;
    @include box-shadow;

    @include tablet {
        width: 80%;
    }

    @include desktop {
        width: 70%;
    }

    &__head {
        color: $dark-blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3vh;

        &-title {
            @include header-1;
        }

        &-subtitle {
            @include header-2;
            margin-top: 1.5vh;
        }

        &-exit {
            background-color: $dark-blue;
            border: none;
            border-radius: 50%;
            @include box-shadow;

            @include desktop {
                font-size: 2em;
                height: 45px;
                width: 45px;
            }

            &--link {
                color: $white;
                text-decoration: none;
            }

            &-icon {
                @include back-arrow;
            }
        }
    }
}