@use './styles/partials/mixins' as *;
@use './styles/partials/colors' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/global' as *;

.app {
  background-color: #F2EDE9;
  height: 100vh;
}

.content-container {
  background-color: $light-blue;
  height: 100%;
  width: 80vw;
  @include centered;

  @include tablet {
    width: 70vw;
  }

  @include desktop {
    width: 55vw;
    padding: 5% 5%;
  }

  &__logo {
    display: block;
    @include centered;
    @include desktop {
      width: 30vw;
      margin-bottom: 5vh;
    }
  }
}